In [30]:
#Project 1
print("These are the student Details.")

Name = ['Samantha ', 
        'Jada     ',
        'Jane     ', 
        'Claire   ', 
        'Elizabeth',
        'Mary     ', 
        'Susan    ',
        'Waje     ',
        'Tabitha  ',
        'Lilian   ']
Age =  [ '17','16','17', '18', '16', '18', '17', '20', '19', '17']
Height = [ '5.5', '6.0', '5.4', '5.9', '5.6', '5.5', '6.1', '6.0', '5.7','5.5']
Score = [ '80', '85', '70', '60', '76', '66', '87', '95', '50', '49']


print("These are the Details of the Girls")
print("      Name|Age|Height|Score")

for i in range(len(Name)):
    print(Name[i] ,"|", Age[i],  "|", Height[i], "|", Score[i])
print("These are the Details of the Boys")
print("    Name|Age|Height|Score")
Name = ['Charlse', 
        'Jude   ',
        'James  ', 
        'Kelvin ', 
        'Biodun ',
        'Wale   ', 
        'Kunle  ',
        'Matthew',
        'Tom    ',
        'Kayode ']
Age =  [ '19','16','18', '17', '20', '19', '16', '18', '17', '19']
Height = [ '5.7', '5.9', '5.8', '6.1', '5.9', '5.5', '6.1', '5.4', '5.8','5.7']
Score = [ '74', '87', '75', '68', '66', '78', '87', '98', '54', '60']

for i in range(len(Name)):
    print(Name[i] ,"|", Age[i],  "|", Height[i], "|", Score[i])

These are the student Details.
These are the Details of the Girls
      Name|Age|Height|Score
Samantha  | 17 | 5.5 | 80
Jada      | 16 | 6.0 | 85
Jane      | 17 | 5.4 | 70
Claire    | 18 | 5.9 | 60
Elizabeth | 16 | 5.6 | 76
Mary      | 18 | 5.5 | 66
Susan     | 17 | 6.1 | 87
Waje      | 20 | 6.0 | 95
Tabitha   | 19 | 5.7 | 50
Lilian    | 17 | 5.5 | 49
These are the Details of the Boys
    Name|Age|Height|Score
Charlse | 19 | 5.7 | 74
Jude    | 16 | 5.9 | 87
James   | 18 | 5.8 | 75
Kelvin  | 17 | 6.1 | 68
Biodun  | 20 | 5.9 | 66
Wale    | 19 | 5.5 | 78
Kunle   | 16 | 6.1 | 87
Matthew | 18 | 5.4 | 98
Tom     | 17 | 5.8 | 54
Kayode  | 19 | 5.7 | 60

In [ ]:
print("Welcome to FinTechs")
for i in range(2500):
        name = input("Enter Your Name: ")
        print(f"{name}Please Provide the necessary information")
e = int(input("How old are you?"))
a = int(input("How many years of Experience do you have?"))

if e >25 and a >= 55 :
              print("Your annual tax revenue is 5600000 naira")
elif e > 20 and a  >= 45 :
              print("Your annual tax revenue is 4480000 naira")
elif e > 10 and a >= 35 :
               print("Your annual tax revenue is 1500000 naira")
elif e < 10 and a < 35 :
               print("Your annual tax revenue is 550000 naira")